{% extends "base.html" %}


{%block main%}
<div class = "row">
  <div class="col-2">
<br>
<h4>Tavo profilis</h4>
<img align="center" src="https://static.euronews.com/articles/stories/07/35/63/70/773x435_cmsv2_52be993f-0568-57fd-92d9-8b08cfbfadfa-7356370.jpg" width="150px" height="100px">
<hr>
<p>Vardas: {{ current_user.vardas}} </p>
<p>El. paštas: {{ current_user.email}}</p>



<a href="/admin">Admin panele</a>

<ul>
                <li>
                    <a href="/" class="active">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Home</span>
                    </a>
                </li>
                <li>
                </li>
</ul>

</div>
  <div class="col-8">


<br>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/profile">Active</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <ul class="dropdown-menu">
	    <li><a class="dropdown-item" href="/profile/docs">Documents</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/profile/videos">Videos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul>

{%block videos%}
{%endblock videos%}
{%block docs%}
{%endblock docs%}
{% endblock %}

</div>
  <div class="coll-2">


<br>
<h4>Administravimui</h4>



    </div>
</div>