{% extends 'base.html' %}
{% load static %}
{% block main %}
<div class="container-md">
  <div class="row">
    <div class="col">
  <h2>{{ post.pavadinimas }}</h2>
  <p style="font-style: italic;">Autorius: {{post.author|safe}}</p>
 {%if post.foto %}
      <div class="float-sm-start">
    <img src="{{ post.foto.url }}" height="300px" width="400px" style="float: left; margin: 0px 25px 0px 0px" alt="Foto">
  </div>
      {%else%}
      <p>Nuotraukos nėra</p>
      {%endif%}

  <p>{{ post.turinys|safe }}</p>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
  <a href="{% url 'post_update' pk=post.pk %}" class="btn btn-outline-primary">Taisyti</a>
    </div>
    </div>
  <hr>
  <h3>Komentarai</h3>
  {% for comment in comments %}
  <p>{{ comment.content }}</p>
  <p>By: {{ comment.author }}</p>
  <hr>
  {% empty %}
  <p>Nėra publikuotų komentarų.</p>
  {% endfor %}

</div>
{% endblock main %}





